@use "../global/" as g;

.o-work{
  width: 100%;
  background-color: #F9EFDD;
  border-radius: 72px 0 72px 0;
  padding: 64px 16px 80px;
  position: relative;
  margin-bottom: 80px;
  @include g.mq{
    border-radius: 104px 0 104px 0;
    padding: 84px 16px 80px;
    margin-bottom: 160px;
  }
  &__image{
    width: 100%;
    margin: 0 auto 40px;
    max-width: 1100px;
    text-align: center;
  }
  &__content{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    @include g.mq{
      display: flex;
      flex-wrap: wrap;
    }
    &__detail{
      @include g.mq{
        width: 31.45%;
      }
      &:not(:last-child){
        margin-bottom: 72px;
        @include g.mq{
          margin-bottom: 0;
        }
      }
      &:not(:nth-child(3n)){
        @include g.mq{
          margin-right: 2.825%;
        }
      }
      &-image{
        margin-bottom: 32px;
      }
      &-text{
        font-size: 12px;
        margin-bottom: 4px;
        letter-spacing: 5%;
        line-height: 1.6;
        color: g.$c_black;
        font-weight: 500;
      }
      &-title{
        a{
          color: g.$c_black;
          position: relative;
          background: linear-gradient(g.$c_black, g.$c_black) 0 100%/0 2px no-repeat;
          transition: background .8s;
          text-decoration: none;
          font-size: 18px;
          letter-spacing: 5%;
          line-height: 1.6;
          font-weight: bold;
          &:hover{
            background-size: 100% 2px;
          }
        }
      }
    }
  }
  &__btn{
    width: 100%;
    max-width: 285px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: g.$c_blue;
    border-radius: 6px;
    color: g.$c_white;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    margin: 64px auto 0;
    letter-spacing: 5%;
    @include g.mq{
      max-width: 376px;
      height: 62px;
      font-size: 18px;
    }
    &:hover{
      opacity: 1;
      &:before{
        right: 8px;
      }
    }
    &:before{
      content: "";
      position: absolute;
      width: 7.88px;
      height: 9.46px;
      background-image: url(../images/common/yajirushi.svg);
      background-size: 100% 100%;
      right: 16px;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: 0.3s;
    }
  }
}