/*
 * 色の設定
 */

$c_white: #ffffff;
$c_bg_white: rgb(255 255 255 /.9);
$c_yellow: #F8F6ED;
$c_black: #000;
$c_black3: #333;
$c_green: #1DC18D;
$c_blue: #3085C3;
$c_grey: #F5F5F5;


//ブレイクポイント
$breakpoint: 768px;
$breakpoint_m: 1024px;
$breakpoint_mm: 1180px;
$breakpoint_l: 1280px;
$breakpoint_design: 1366px;
$breakpoint_ll: 1728px;
$breakpoint_max: 1920px;